[submodule "highway"]
	path = highway
	url = https://github.com/google/highway.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
[submodule "Catch2"]
	path = Catch2
	url = git@github.com:catchorg/Catch2.git
