[build-system]
requires = [
  "setuptools>=42",
  "wheel",
  # declaring numpy versions specifically to x86_64
  # lowest NumPy we can use for a given Python,
  # except for more exotic platform (Mac Arm flavors)
  # Also don't allow PyPy builds
  "numpy==1.20.0; python_version=='3.8' and platform_machine=='x86_64' and platform_python_implementation != 'PyPy'",
  "numpy==1.20.0; python_version=='3.9' and platform_machine=='x86_64' and platform_python_implementation != 'PyPy'",
  # As per https://github.com/scipy/oldest-supported-numpy/blob/main/setup.cfg
  # safest to build at 1.21.6 for all platforms
  "numpy==1.21.6; python_version=='3.10' and platform_machine=='x86_64' and platform_python_implementation != 'PyPy'",
  "numpy==1.23.2; python_version=='3.11' and platform_machine=='x86_64' and platform_python_implementation != 'PyPy'",
  # default to just numpy for unknown versions of Python
  "numpy; python_version>='3.12'",
  "scikit-build",
  "cmake",
  "cython>=0.28,<3.0",
  "versioneer-518",
  "ninja; platform_system!='Windows'"
]
build-backend = "setuptools.build_meta"

[tool.versioneer]
VCS = "git"
style = "pep440"
versionfile_source = "distopia/_version.py"
versionfile_build = "distopia/_version.py"
tag_prefix = ""
parentdir_prefix = "distopia-"
